/* -- HERO SECTION -- */
.hero {
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
  width: 100%;
  height: calc(100vh - var(--nav-height));
  background-color: transparent;
}
.h-text {
  position: relative;
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  z-index: 1;
  background-color: transparent;
  color: #ffffff;
}
.hero h1,
.hero p {
  background-color: transparent;
}
.hero h1 {
  font-weight: 500;
  font-size: 4.4em;
  order: 2;
}
.hero #hp1 {
  font-weight: 500;
  font-size: 1.6em;
  order: 1;
}
#hp2 {
  position: absolute;
  bottom: 2%;
  font-weight: 300;
  font-size: 1.2em;
}
.hero video {
  position: absolute;
  z-index: 0;
  top: calc(0px - var(--nav-height));
  object-fit: cover;
  min-width: 100%;
  max-width: 100%;
  height: calc(100vh + 160px);
}
.socials {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 30px;
  bottom: 60px;
  gap: 20px;
}
.socials img {
  width: 30px;
}
.vertical-line {
  position: absolute;
  width: 2px;
  height: 300px;
  background: linear-gradient(to bottom, #5726fb, #cc67fc);
  z-index: 3;
  left: 60px;
  top: 20%;
  opacity: 0.4;
}
.vertical-line::before,
.vertical-line::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: #333;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
}

.vertical-line::before {
  top: 0;
  background: #5726fb;
}
.vertical-line::after {
  bottom: 0;
  background: #cc67fc;
}
@media (max-width: 768px) {
  .hero video {
    height: 100vh;
  }
  .vertical-line {
    display: none;
  }
  #hp2 {
    bottom: 5%;
  }
  .hero h1 {
    font-size: 3em;
  }
}

/* -- ABOUT SECTION -- */
#svg1 {
  display: block;
  width: 100%;
  z-index: 999;
  position: relative;
  min-height: 200px;
}
.about-section {
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding-top: 0;
  padding-bottom: 50px;
  background-color: #1e1e1e;
}
#asp1 {
  font-size: 3em;
  font-weight: 500;
  align-self: center;
  text-align: center;
  padding: 0 20%;
  position: relative;
}
#asp2 {
  font-size: 2em;
  font-weight: 300;
  align-self: center;
  text-align: center;
  padding: 0 20%;
  position: relative;
}
#asa1 {
  align-self: center;
  text-align: center;
  background-color: #9246fd;
  font-size: 1.2em;
  padding: 20px 30px;
  border-radius: 40px;
  transition: all 0.4s ease;
}
#asa1:hover {
  background-color: #cc67fc;
}
#asp3 {
  position: relative;
  top: 10px;
  font-weight: 300;
}
.ab-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}
#svg2 {
  display: block;
  width: 100%;
  z-index: 999;
  position: relative;
  min-height: 200px;
  rotate: 180deg;
  margin-top: -30px;
}
@media (max-width: 768px) {
  #svg1 {
    position: relative;
    margin-top: -120px;
    min-height: none;
  }
  #asp1 {
    margin-top: 0;
    padding: 0;
  }
  .ab-bottom {
    width: 80%;
  }
}

/* -- PROJECTS SECTION -- */
.projects-section {
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}
.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 5%;
  gap: 50px;
  width: 66%;
}
.project-card {
  position: relative;
  aspect-ratio: 1/2;
  overflow: hidden;
  border: 1px rgba(35, 35, 35, 0.3) solid;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}
.project-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}
.projects-section h2 {
  font-size: 2.6em;
  font-weight: 900;
  padding-bottom: 75px;
  color: #000000;
}
.project-category {
  position: absolute;
  bottom: 20px;
  left: 20px;
  opacity: 0;
  transition: all 0.3s ease;
}
.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}
.project-card:hover .project-category {
  opacity: 1;
}
.decorative-line {
  position: absolute;
  width: 100%;
  height: auto;
  top: -100px;
  left: 0;
  z-index: 0;
  opacity: 0.6;
  pointer-events: none;
}
.spacer {
  height: 300px;
}
@media (max-width: 768px) {
}
@media (max-width: 1024px) {
  .projects-grid {
    grid-template-columns: repeat(1, 1fr);
    width: 90%;
  }
  .project-card {
    aspect-ratio: 4/3;
  }
}
/* -- PERSONAL PROFILE -- */
.personal-profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#moi {
  height: 100vh;
  object-fit: cover;
  max-width: 95%;
}
.pw-top, .pw-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 100px;
  padding: 0 12%;
  margin-top: 75px;
}
.left-divider,
.right-divider {
  margin-top: 50px;
  width: 110%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  align-self: center;
  justify-self: center;
}
.profile-wrapper p {
  color: #000000;
}
.left-text-2,
.right-text-2 {
  margin-top: 50px;
  font-weight: 300;
}
.left-text-1 {
  font-size: 2em;
}
.left-text-3,
.right-text-3 {
  font-size: 5em;
  font-weight: 900;
}
.right-text-1 {
  font-size: 1.4em;
  font-weight: 300;
}
@media (max-width: 768px) {
}
@media (max-width: 1024px) {
  .pw-top {
    grid-template-columns: 1fr;
  }
}

/* -- TOOLKIT SECTION -- */
.toolkit-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0;
}
.toolkit-section h2 {
  font-size: 2.6em;
  font-weight: 900;
  color: #000;
}
.flowing-line {
  position: absolute;
  left: 50px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
  overflow: visible;
  rotate: 15deg;
}
#flowing-path {
  stroke-dasharray: 5000;
  stroke-dashoffset: 5000;
}
.toolkit {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  padding-bottom: 100px;
  overflow: hidden;
}
.toolkit h3 {
  color: #000000;
  font-size: 2.5em;
  margin-bottom: 60px;
}
.skills-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 80px 100px;
  max-width: 1000px;
  background-color: #1e1e1e;
  padding: 100px 150px;
  border-radius: 20px;
}
.skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.skill-item img {
  width: 120px;
  height: 120px;
  object-fit: contain;
  transition: transform 0.3s ease;
}
.skill-item:hover img {
  transform: scale(1.1);
}
.skill-item span {
  color: #fff;
  font-size: 0.9em;
  font-weight: 500;
  letter-spacing: 1px;
}
body.dark-bg {
  background: #1e1e1e;
}
.colour-trigger {
  position: absolute;
  margin-top: 50px;
}
@media (max-width: 768px) {
  .skills-grid {
    padding: 50px;
  }
  .skill-item img {
    height: 100px;
    width: 100px;
  }
}

/* -- TIMELINE SECTION -- */
.timeline-top {
  display: flex;
  align-items: center;
  justify-content: center;
}
.timeline-top p {
  max-width: 50%;
  text-align: center;
  font-size: 2.3em;
  font-weight: 300;
}
.timeline-bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 150px;
}
.vl {
  width: 6px;
  background: linear-gradient(to bottom, #5726fb, #cc67fc);
  z-index: 3;
  opacity: 0.8;
  position: relative;
}
.vl::before,
.vl::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
}
.vl::before {
  top: 0;
  background: #5726fb;
}
.vl::after {
  bottom: 0;
  background: #cc67fc;
}
/* Timeline items */
.timeline-item {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  font-size: 1.2em;
}
#ti1 {
  margin-left: 50%;
  margin-top: 0;
}
#ti1 .vl {
  height: 400px;
}
#ti2 {
  margin-left: 60%;
  margin-top: -100px;
}
#ti2 .vl {
  height: 350px;
}
#ti3 {
  margin-right: 60%;
  margin-top: -50px;
  flex-direction: row-reverse;
}
#ti3 .text-wrapper {
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#ti3 .vl {
  height: 200px;
}
#ti4 {
  margin-left: 50%;
  margin-top: 0px;
}
#ti4 .vl {
  height: 200px;
}
.text-wrapper {
  max-width: 600px;
  z-index: 10;
}
.description {
  font-weight: 300;
  max-width: 75%;
}
.title{
  font-size: 1.4em;
}
@media (max-width: 768px) {
}
@media(max-width: 1024px){
  #ti1, #ti2, #ti3, #ti4{
    margin-left: 50%;
    margin-top: -15px;
  }
  .text-wrapper{
    position: absolute;
    padding: 30px;
    width: 50%;
  }
  #ti1{
    flex-direction: row-reverse;
  }
  #ti1 .text-wrapper{
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .timeline-top p {
    max-width: 85%;
  }
}

/*---------------------------------------*/
