.hero {
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
  width: 100%;
  height: calc(100vh - var(--nav-height));
  background-color: transparent;
}
.h-text {
  position: relative;
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  z-index: 1;
  background-color: transparent;
  color: #ffffff;
}
.hero h1, p{
  background-color: transparent;
}
.hero h1 {
  font-weight: 500;
  font-size: 2.6em;
  order: 2;
}
.hero p {
  font-weight: 500;
  font-size: 1.4em;
  order: 1;
}
.hero video{
  position: absolute;
  z-index: 0;
  top: calc( 0px - var(--nav-height));
  object-fit: cover;
  width: 100%;
  height: calc(100% + var(--nav-height) + 15px);
}
.socials{
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 30px;
  bottom: 60px;
  gap: 20px;
}
.socials img{
  width: 30px;
}