.hero {
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
  width: 100%;
  height: calc(100vh - var(--nav-height));
  background-color: transparent;
}
.h-text {
  position: relative;
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  z-index: 1;
  background-color: transparent;
  color: #ffffff;
}
.hero h1,
.hero p {
  background-color: transparent;
}
.hero h1 {
  font-weight: 500;
  font-size: 4.4em;
  order: 2;
}
.hero #hp1 {
  font-weight: 500;
  font-size: 1.6em;
  order: 1;
}
#hp2{
  position: absolute;
  bottom: 2%;
  font-weight: 300;
  font-size: 1.2em;
}
.hero video {
  position: absolute;
  z-index: 0;
  top: calc(0px - var(--nav-height));
  object-fit: cover;
  min-width: 100%;
  max-width: 100%;
  height: calc(100vh + 160px);
}
#svg1{
  display: block;
  width: 100%;
  z-index: 999;
  position: relative;
  min-height: 200px;
}
.socials {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 30px;
  bottom: 60px;
  gap: 20px;
}
.socials img {
  width: 30px;
}
.about-section {
  position: relative;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding-top: 0;
}
#asp1 {
  font-size: 3em;
  font-weight: 500;
  align-self: center;
  text-align: center;
  padding: 0 20%;
  position: relative;  
}
#asp2 {
  font-size: 2em;
  font-weight: 300;
  align-self: center;
  text-align: center;
  padding: 0 20%;
  position: relative;
}
#asa1 {
  align-self: center;
  text-align: center;
  background-color: #9246fd;
  font-size: 1.2em;
  padding: 20px 30px;
  border-radius: 40px;
  transition: all 0.4s ease;
}
#asa1:hover{
  background-color: #cc67fc;
}
#asp3{
  position: relative;
  top: 10px;
  font-weight: 300
}
.ab-bottom{
  display: flex;
  align-items: center;  
  justify-content: space-between;
  width: 50%;
}
.divider {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.3);
  position: relative;
}
.vertical-line {
  position: absolute;
  width: 2px;
  height: 300px;
  background: linear-gradient(to bottom, #5726fb, #cc67fc);
  z-index: 3;
  left: 60px;
  top: 20%;
  opacity: 0.4;
}

.vertical-line::before,
.vertical-line::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background: #333;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
}

.vertical-line::before {
  top: 0;
  background: #5726fb;
}

.vertical-line::after {
  bottom: 0;
  background: #cc67fc;
}

/*---------------------------------------*/

@media(max-width:768px){
  .hero video{
    height: 100vh;
  }
  .vertical-line{
    display: none;
  }
  #svg1{
    position: relative;
    margin-top: -120px;
    min-height: none;
  }
  #hp2{
    bottom: 5%;
  }
  .hero h1{
    font-size: 3em;
  }
  #asp1{
    margin-top: 0;
    padding: 0;
  }
  .ab-bottom{
    width: 80%;
  }
}