* {
  color: white;
}
main {
  margin-top: var(--nav-height);
}
p {
  color: rgb(200, 200, 200);
  font-size: 1.2em;
  line-height: 33px;
}

/* -- ABOUT HERO -- */
.wrapper-1 {
  padding: 50px;
}
h1 {
  position: relative;
  margin-top: 0px;
  font-size: 5em;
  font-weight: 300;
}
#w1p1 {
  width: 1000px;
  margin-top: 20px;
}
#w1p1 span {
  font-style: italic;
  color: rgb(200, 200, 200);
}

/* -- SCROLL TRACK -- */
.scroll-wrapper {
  overflow: hidden;
  width: 100%;
  margin-top: 50px;
}
.scroll-track {
  display: flex;
  width: max-content;
  animation: scroll 30s linear infinite;
}
.scroll-track span {
  white-space: nowrap;
  font-size: 6.8em;
  font-weight: 500;
}
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-33.3%);
  }
}

/* -- MY STORY -- */
.wrapper-2 {
  display: grid;
  width: 100%;
  margin-top: 100px;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.wrapper-2 .right {
  margin-left: auto;
}
.wrapper-2 img {
  width: 90%;
  border-radius: 10px;
  padding-right: 50px;
}
.left {
  margin-top: 50px;
}
.w2p {
  padding-left: 50px;
  width: 85%;
}
@media (max-width: 1350px) {
  .wrapper-2 {
    display: flex;
    flex-direction: column;
  }
  .right img{
    margin: 50px 0 50px 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-right: 0;
  }
  .left {
    width: 100%;
  }
  #w1p1{
    width: 95%;
  }
}

/* -- MY TOOLS -- */
.wrapper-3{
  margin: 250px 0 100px 0;
}
.w3-top{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
.wrapper-3 h2{
  font-size: 3em;
  font-weight: 500;
}
.w3-bottom{
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  'c1 c1'
  'c2 c3';
  margin: 100px 20% 0 20%;
}
.container{
  background-color: #e7e7e7;
  height: 400px;
  width: 500px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5);
}
.container p{
  color: #000;
}
#c1 { 
  grid-area: c1;
  width: 100%;
  border-radius: 25px;
}
#c2 { 
  grid-area: c2;
  width: 100%;
  border-radius: 25px 30% 20px 20px;
}
#c3 { 
  grid-area: c3;
  width: 100%;
  border-radius: 30% 25px 20px 20px;
}
.icons{
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
}
.img-wrapper{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}
#c1 .icons{
  justify-content: space-evenly;
  width: 100%;
}
.container img {
  max-width: 100px;
  max-height: 100px;
}
.container img:hover{
  scale: 1.08;
  transition: all 0.3s ease;
}
#c2 .icons,
#c3 .icons {
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.row-top,
.row-bottom {
  display: flex;
  gap: 40px;
}
@media(max-width:768px){
  .w3-bottom{
    margin: 10px;
  }
  .container img{
    max-width: 75px;
    max-height: 75px;
  }
}
@media(max-width:1024px){
  #c1 .icons{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}