* {
  color: white;
}
main {
  margin-top: var(--nav-height);
  padding: 50px;
}
h1 {
  position: relative;
  margin-top: 0px;
  font-size: 5em;
  font-weight: 300;
}
p{
    color: rgb(200, 200, 200);
    font-size: 1.2em;
    line-height: 33px;
}
#p1{
    width: 1000px;
    margin-top: 20px
}
#p1 span{
    font-style: italic;
    color: rgb(200, 200, 200);
}